Repository mdsach/cookiecutter-hypermodern-python-ml-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check TOML
  entry: check-toml
  language: system

check-yaml:
  name: Check YAML
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus

Add GitHub Actions workflows
  .github/dependabot.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/tests.yml
Due: check-yaml

Un-Jinja tests.yml
  .github/workflows/tests.yml
Due: check-yaml

Un-Jinja tests.yml again
  .github/workflows/tests.yml
Due: check-yaml

Update noxfile.py with python versions
  noxfile.py
Due: black, flake8, pyupgrade

Fixing flake8 warnings
  .flake8
  .github/dependabot.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/tests.yml
  LICENSE
  cookiecutter_hypermodern_python_ml_example/__init__.py
  cookiecutter_hypermodern_python_ml_example/contracts/__init__.py
  cookiecutter_hypermodern_python_ml_example/contracts/contract_transformer.py
  cookiecutter_hypermodern_python_ml_example/pipeline/__init__.py
  cookiecutter_hypermodern_python_ml_example/pipeline/model.py
  cookiecutter_hypermodern_python_ml_example/pipeline/selector.py
  cookiecutter_hypermodern_python_ml_example/pipeline/transformer.py
  cookiecutter_hypermodern_python_ml_example/schemas/__init__.py
  cookiecutter_hypermodern_python_ml_example/schemas/raw.py
  cookiecutter_hypermodern_python_ml_example/schemas/selected.py
  cookiecutter_hypermodern_python_ml_example/schemas/transformed.py
  cookiecutter_hypermodern_python_ml_example/tasks/__init__.py
  cookiecutter_hypermodern_python_ml_example/tasks/evaluate_model.py
  cookiecutter_hypermodern_python_ml_example/tasks/evaluate_pipeline.py
  cookiecutter_hypermodern_python_ml_example/tasks/load_data.py
  cookiecutter_hypermodern_python_ml_example/tasks/make_pipeline.py
  cookiecutter_hypermodern_python_ml_example/tasks/score_data.py
  cookiecutter_hypermodern_python_ml_example/tasks/select_features.py
  cookiecutter_hypermodern_python_ml_example/tasks/train_model.py
  cookiecutter_hypermodern_python_ml_example/tasks/transform_data.py
  noxfile.py
  tests/test_transformer.py
Due: black, check-yaml, flake8, pyupgrade

Fixing mypy issues
  cookiecutter_hypermodern_python_ml_example/contracts/contract_transformer.py
  cookiecutter_hypermodern_python_ml_example/pipeline/transformer.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, flake8, pyupgrade

More mypy fixes
  cookiecutter_hypermodern_python_ml_example/pipeline/transformer.py
  tests/test_transformer.py
Due: black, flake8, pyupgrade

Remove typeguard test, add pandas-stubs to mypy
  noxfile.py
Due: black, flake8, pyupgrade

Fiexed mypy/typeguard incompatibility with pandas
  cookiecutter_hypermodern_python_ml_example/pipeline/transformer.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/test_transformer.py
Due: black, check-toml, flake8, pyupgrade

mypy/typeguard/coverage compatibility
  cookiecutter_hypermodern_python_ml_example/pipeline/transformer.py
Due: black, flake8, pyupgrade

Remove typeguard test
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, flake8, pyupgrade

Remove typeguard from github workflow
  .github/workflows/tests.yml
Due: check-yaml

Remove Mac & Windows tests
  .github/workflows/tests.yml
  noxfile.py
Due: black, check-yaml, flake8, pyupgrade

Fix pre-commit issues
  noxfile.py
Due: black, flake8, pyupgrade

Remove darglint from pre-commit
  noxfile.py
Due: black, flake8, pyupgrade

Add back Windows & Mac tests, don't run coverage
  .github/workflows/tests.yml
Due: check-yaml

Update noxfile.py for OS tests
  noxfile.py
Due: black, flake8, pyupgrade

Fixed OS tests
  .github/workflows/tests.yml
  noxfile.py
Due: black, check-yaml, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
